@{
    ViewBag.Title = "About";
}

<h2 style="text-align: center;">About Mt. Daraitan</h2>

<p style="text-align: center;">
    Mt. Daraitan is a popular mountain in Tanay, Rizal, Philippines, known for its scenic views and the nearby Tinipak River. It offers a challenging hike with stunning views of the Sierra Madre mountain range and is a favorite among both seasoned and beginner hikers.
</p>
