@{
    ViewBag.Title = "Home";
}

<p style="text-align: center;">
    <strong>Welcome to Mt. Daraitan!</strong>
</p>

<p style="text-align: center;">
    Experience the breathtaking views, limestone formations, and refreshing river of Mt. Daraitan located in Tanay, Rizal.
</p>
